@model ImageResizer.Models.Image

@{
    ViewBag.Title = "Convert";
}

<h2>Convert</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" />
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("To Gif", "ToGif", new { id = Model.ImageId }) |
    @Html.ActionLink("To Png", "ToPng", new { id = Model.ImageId }) |
    @Html.ActionLink("To Jpg", "ToJpg", new { id = Model.ImageId})
</p>

<b>
    @Html.ActionLink("Go back", "View/0")
</b>
